<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" routerLink="/">{{'Brand.vodaPost' | translate}}</a>
    <div class=" d-flex flex-wrap" id="navbarNavDropdown">
      <ul class="navbar-nav me-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mb-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{'Users.users' | translate}}
          </a>
          <ul class="dropdown-menu">
            @for (user of users(); track $index) {
            <li routerLink="/posts/{{user?.id}}">
              <a class="dropdown-item">{{user?.name}}</a>
            </li>
            }
          </ul>
        </li>
      </ul>
      <div class="d-flex g-4 align-items-center">
        <button *ngIf="!isEnglish" class="btn btn-light language" type="button" (click)="changeLanguage('en')">English</button>
        <button *ngIf="isEnglish" class="btn btn-light language" type="button" (click)="changeLanguage('ar')">العربية</button>
      </div>
    </div>
  </div>
</nav>
