// Not found image
:host {
  .img {
         width: 20.7rem;
         height: 20.7rem;
         object-fit: contain;

  }

  .description {
         text-align: center;
         font-size: 1.5rem;
         font-style: normal;
         color: #900;
  }
}
