<app-navbar />

<!-- User Posts -->
<div class="container m-auto mb-4 row row-cols-1 row-cols-md-2 g-4 d-flex justify-content-center">
  @for (post of userPosts(); track $index) {
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/posts/post_bg.jpg" class="card-img-top" alt="Post Image">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body}}</p>
        <button (click)="viewComments()" class="btn btn-primary mb-3">Comments</button>
        <div *ngIf="showComments" class="d-flex g-2 align-items-center">
          <img src="assets/images/posts/post_bg.jpg" alt="commenter image" class="rounded-circle" width="50"
            height="50">
          <p>This is a comment ...</p>
        </div>
      </div>
    </div>
  </div>
  } @empty {
  <div class="d-flex justify-content-center align-items-center flex-column z-n1 ">
    <img src="assets/images/photos/not-found search.png" class="img" alt="" srcset="">

    <span class="description fs-3 fw-bold">No Posts Found!</span>
    <span class="description text-muted fs-6 fw-bold">Please select a user.</span>
  </div>
  }
</div>
